/*-- Common Css --*/

body {
    font: 14px/22px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #3b4045;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
}

h1 {
    font-size: 44px;
    line-height: 56px;
    color: #fff;
}

h2 {
    font-size: 30px;
    line-height: 35px;
}

h3 {
    font-size: 23px;
    line-height: 25px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    box-shadow: none;
    outline: none;
}

.section {
    padding: 100px 0;
}

/*-- Custom Heading --*/

.heading {
    text-align: center;
    color: #777777;
    padding-bottom: 70px;
}

.heading h2 {
    color: #3c3c3c;
    padding-bottom: 30px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
}

.heading p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

.sub-heading {
    margin-bottom: 30px;
}

.sub-heading h3 {
    font-size: 30px;
    line-height: 40px;
}

.sub-heading h4 {
    font-size: 25px;
    margin-bottom: 15px;
}

.sub-heading > p {
    font-size: 14px;
    color: #777;
}

.btn {    
    border-radius: 0;
}

.btn-home {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    padding: 10px 40px;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.btn-home:hover,
.btn-home:focus {
    background-color: #fff;
    color: #555;
}

/*-- Preloader --*/

#preloader {
    background-color: #fff;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.book {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin: 0 auto;
    border: 5px solid #ecf0f1;
    width: 100px;
    height: 60px;
}

.book__page {
    position: absolute;
    left: 50%;
    top: -5px;
    border-top: 5px solid #ecf0f1;
    border-bottom: 5px solid #ecf0f1;
    border-right: 5px solid #ecf0f1;
    background: #41aba0;
    width: 50px;
    height: 60px;
    transform-origin: 0% 50%;
    animation: flip 1.2s infinite linear forwards;
}

/*-- Hero Area --*/

#hero-area {
    padding: 180px 0;
    background: linear-gradient(135deg, #ff69b4 0%, #000000 100%);
}

#hero-area .block {
    padding-top: 100px;
}

#hero-area .block h1 {
    margin-bottom: 35px;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 6px;
    position: relative;
}

/*-- Navbar --*/

.navbar-default {
    padding: 20px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.navbar-default.animated {
    background-color: #fff;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.navbar-default .navbar-brand {
    display: flex;
    align-items: center;
    color: #777;
    padding: 5px 0;
    margin-top: 20px;
}

.navbar-default .navbar-brand img {
    margin-right: 10px;
    width: 50px;
    height: auto;
    vertical-align: middle;
}

.navbar-default .navbar-brand .brand-text {
    font-size: 20px;
    color: #000;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    position: relative;
    transition: color 0.3s ease;
}

.navbar-default.animated .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > li.current > a {
    color: #fff;
}

.navbar-default.animated .navbar-nav > li.current > a {
    color: #82c25a;
}

/*-- Service --*/

#service {
    text-align: center;
    background: #f9f9f9;
}

.service {
    text-align: left;
}

.service .caption {
    text-align: center;
}

.service .caption h3 {
    margin: 0 0 10px;
    color: #333;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.service .icon-box {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    background: linear-gradient(135deg, #ff69b4 0%, #000000 100%);
    transition: all 0.2s ease-in;
}

.service .icon-box .icon {
    background-color: #26282b;
    border-radius: 5px;
    display: inline-block;
    height: 75px;
    position: relative;
    width: 75px;
    transform: rotate(50deg);
    transition: all 0.2s ease-in;
}

.service .icon-box .icon i {
    color: #fff;
    font-size: 30px;
    height: 75px;
    line-height: 70px;
    text-align: center;
    width: 75px;
    transform: rotate(-50deg);
}

#service .thumbnail:hover {
    background-color: #ff69b4;
    border: 2px solid #ff69b4;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

#service .caption p {
    line-height: 1.5;
    font-size: 15px;
    color: #7e7e7e;
}

/*-- Call to Action --*/

#call-to-action {
    padding: 70px 0;
    background: url(../images/call-to-action.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000; /* Ubah warna teks menjadi hitam */
}

#call-to-action .block h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    color: #000; /* Ubah warna teks menjadi hitam */
}

#call-to-action .block p {
    font-size: 15px;
    padding-right: 30px;
    color: #000; /* Ubah warna teks menjadi hitam */
}

footer {
    text-align: center;
    background: linear-gradient(135deg, #ff69b4 0%, #000000 100%);
    padding: 27px 0;
    color: #dfdfdf;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 300;
}

footer p a:hover {
    color: #fff;
}

